.button {
    cursor: pointer;
    padding: 16px 32px;
    font-size: 16px;
    font-family: Satoshi;
    font-weight: 400;
    border: none;
    &:hover {
      transform: scale(1.07);
      transition: all ease-in 0.2s;
    }
  }
  