.PopularProduct {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: var(--White, #FFF);
    justify-content: space-evenly;
}
.PopularProduct img {
    width: 100%;
    height: 375px;
    object-fit: fill;
    &:hover {
        opacity: 0.3;
        display: block;
        transition: 0.5s ease;
        backface-visibility: hidden;
    }
}
.PopularProduct:hover .middle{
    transition: 0.3s;
    transform: translateY(-50%);
    opacity: 1;
}

.PopularProduct .middle{
    transition: 0.3s;
    opacity: 0;
    position: absolute;
}
.PopularProduct h1 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 8px;
}
.PopularProduct h1 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}