.PopularLists {
    width: 100%;
    box-sizing: border-box;
    background: var(--White, #FFF);
    &__top {
        display: flex;
        width: 100%;
        margin-left: 60px;
        margin-top: 80px;
        margin-bottom: 25px;
    }
    &__title {
        color: #2A254B;
        font-family: Clash Display;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
    }
    &__block {
        padding: 0px 20px 44px 60px;
        margin: auto;
        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 20px;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 56px;
    }
}