.icon-button {
    background-color: transparent;
    width: 16px;
    height: 16px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  